<h1 class="hero__title">
    {{ site.author }}
    {% if site.subtitle %}
        <small class="hero__subtitle">{{ site.subtitle }}</small>
    {% endif %}
</h1>
<hr class="hero__divider">
<p class="hero__text lead">
    Welcome to my programming loft! I'm an ads software engineer at freewheel.tv, a Comcast company. FreeWheel helps the largest players in the US television industry generate revenue from their ad-supported content through a robust technology platform for ad management and monetization, a private marketplace for premium television inventory, and advisory services.
</p>
